$fontsizes: 1.05em;

#bp-visualization-content {
  padding-bottom: 8vh;
  width: 100%;
  .bp-visualization-description {
    border-top: 2px solid #f5f5f5;
    margin-top: 50px;
    padding-top: 30px;
    .bp-visualization-downloads {
      border-bottom: 2px solid #f5f5f5;
      font-size: $fontsizes;
      margin-bottom: 30px;
      padding-bottom: 28px;
      a {
        background-color: #097dc5;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        margin-right: 20px;
        padding: 5px 10px;
        &:before {
          content: "\f15b";
          font-family: FontAwesome;
          padding-right: 6px;
          display: inline-block;
          font-size: 14px;
          vertical-align: top;
        }
        &:first-of-type {
          &:before {
            content: "\f1c3"
          }
        }
        &:last-of-type {
          &:before {
            content: "\f1c5"
          }
        }
        &:hover {
          background-color: darken(#097dc5, 10%);
          text-decoration: none;
        }
      }
    }
  }
  .offset-sidebar {
    font-size: $fontsizes;
    margin-bottom: 15px;
    .form-check {
      display: flex;
      input {
        margin-right: 5px;
      }
    }
    &.navigation {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      li {
        line-height: 1.4em;
        margin-bottom: .5em;
      }
    }
    label {
      font-weight: normal;
    }
  }
  .h4, .h5 {
    font: {
      size: 1.1em;
      weight: bold;
    }
    margin-top: 2px;
  }

  @media (min-width: 800px) {
    #bp-visualization-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      width: 74%;
    }
    #canvas-holder {
      flex-basis: 75%;
      order: 1;
      width: 75%;
    }
    .bp-visualization-description {
      order: 3;
      flex-basis: 100%;
      p {
        max-width: 700px;
      }

    }
  }

  @media (max-width: 799px) and (min-width: 600px) {
    #bp-visualization-container {
      flex-direction: column;
      width: 66%;
    }
    #canvas-holder {
      width: 98%;
    }
  }

  @media (min-width: 600px) {
    .offset-sidebar {
      max-width: 22%;
      min-width: 22%;
    }
  }

  @media (max-width: 599px) {
    .offset-sidebar {
      float: none;
      margin: 15px auto;
      max-width: 100%;
      width: 100%;
    }
  }
}

#legend-holder {
  padding: 10px 0 0;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0 0 .2em;
    padding: 0;

    .label {
      color: inherit;
      //cursor: pointer;
      font: {
        size: 12px;
        weight: normal;
      }
    }

    &.strike {
      .label {
        text-decoration: line-through;
      }
    }
  }

  @media (min-width: 800px) {
    flex-basis: 25%;
    order: 2;
    padding-left: 4%;
    width: 25%;
  }

  @media (max-width: 799px) {
    margin: 20px 0;
    ul:after {
      clear: left;
      content: " ";
      display: table;
    }
    li {
      display: inline-block;
    }

    @media (max-width: 799px) and (min-width: 640px) {
      li {
        width: 32%;
      }
    }
  }

  @media (max-width: 639px) {
    li {
      width: 48%;
    }
  }

}
