@charset "UTF-8";
#bp-visualization-content {
  padding-bottom: 8vh;
  width: 100%;
}
#bp-visualization-content .bp-visualization-description {
  border-top: 2px solid #f5f5f5;
  margin-top: 50px;
  padding-top: 30px;
}
#bp-visualization-content .bp-visualization-description .bp-visualization-downloads {
  border-bottom: 2px solid #f5f5f5;
  font-size: 1.05em;
  margin-bottom: 30px;
  padding-bottom: 28px;
}
#bp-visualization-content .bp-visualization-description .bp-visualization-downloads a {
  background-color: #097dc5;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  padding: 5px 10px;
}
#bp-visualization-content .bp-visualization-description .bp-visualization-downloads a:before {
  content: "";
  font-family: FontAwesome;
  padding-right: 6px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
#bp-visualization-content .bp-visualization-description .bp-visualization-downloads a:first-of-type:before {
  content: "";
}
#bp-visualization-content .bp-visualization-description .bp-visualization-downloads a:last-of-type:before {
  content: "";
}
#bp-visualization-content .bp-visualization-description .bp-visualization-downloads a:hover {
  background-color: #075e94;
  text-decoration: none;
}
#bp-visualization-content .offset-sidebar {
  font-size: 1.05em;
  margin-bottom: 15px;
}
#bp-visualization-content .offset-sidebar .form-check {
  display: flex;
}
#bp-visualization-content .offset-sidebar .form-check input {
  margin-right: 5px;
}
#bp-visualization-content .offset-sidebar.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#bp-visualization-content .offset-sidebar.navigation li {
  line-height: 1.4em;
  margin-bottom: 0.5em;
}
#bp-visualization-content .offset-sidebar label {
  font-weight: normal;
}
#bp-visualization-content .h4, #bp-visualization-content .h5 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 2px;
}
@media (min-width: 800px) {
  #bp-visualization-content #bp-visualization-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 74%;
  }
  #bp-visualization-content #canvas-holder {
    flex-basis: 75%;
    order: 1;
    width: 75%;
  }
  #bp-visualization-content .bp-visualization-description {
    order: 3;
    flex-basis: 100%;
  }
  #bp-visualization-content .bp-visualization-description p {
    max-width: 700px;
  }
}
@media (max-width: 799px) and (min-width: 600px) {
  #bp-visualization-content #bp-visualization-container {
    flex-direction: column;
    width: 66%;
  }
  #bp-visualization-content #canvas-holder {
    width: 98%;
  }
}
@media (min-width: 600px) {
  #bp-visualization-content .offset-sidebar {
    max-width: 22%;
    min-width: 22%;
  }
}
@media (max-width: 599px) {
  #bp-visualization-content .offset-sidebar {
    float: none;
    margin: 15px auto;
    max-width: 100%;
    width: 100%;
  }
}

#legend-holder {
  padding: 10px 0 0;
}
#legend-holder ul {
  margin: 0;
  padding: 0;
}
#legend-holder li {
  list-style-type: none;
  margin: 0 0 0.2em;
  padding: 0;
}
#legend-holder li .label {
  color: inherit;
  font-size: 12px;
  font-weight: normal;
}
#legend-holder li.strike .label {
  text-decoration: line-through;
}
@media (min-width: 800px) {
  #legend-holder {
    flex-basis: 25%;
    order: 2;
    padding-left: 4%;
    width: 25%;
  }
}
@media (max-width: 799px) {
  #legend-holder {
    margin: 20px 0;
  }
  #legend-holder ul:after {
    clear: left;
    content: " ";
    display: table;
  }
  #legend-holder li {
    display: inline-block;
  }
}
@media (max-width: 799px) and (max-width: 799px) and (min-width: 640px) {
  #legend-holder li {
    width: 32%;
  }
}
@media (max-width: 639px) {
  #legend-holder li {
    width: 48%;
  }
}

/*# sourceMappingURL=clo-visualization-chart.css.map */
